<!DOCTYPE html>
<html lang="sl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Napaka pri prijavi</title>
</head>
<body>

    <h1>Napaka pri prijavi</h1>

    <h2>
        Napačno vneseni podatki ali pa nimate dostopa!
    </h2>

    <p>
        Preverite uporabniško številko in geslo ter poskusite znova.
    </p>

    <!--
        Ko uporabnik klikne gumb,
        ga Flask preusmeri na začetno stran.
    -->
    <form action="/" method="get">

        <button type="submit">
            Domov
        </button>

    </form>

</body>
</html>