<!DOCTYPE html>
<html lang="sl">

<head>
    <meta charset="UTF-8">
    <title>Podatki poslovalnice</title>
</head>

<body>

    <h1>Dobrodošli v osebnem portalu Trgovine Lupke</h1>

    <hr>

    <nav>

        <a href="/osebni_podatki">tki</a> |

        <a href="/moja_poslovalnica">Moja poslovalnica     <a href="/osebna_eebna evidenca</a> |

        <aacunRačun</a> |

        <atatistikaStatistika</a>

    </nav>

    <hr>

    <h2>Podatki poslovalnice</h2>

    <p>
        <strong>Ime poslovalnice:</strong>
        {{ ime_poslovalnice }}
    </p>

    <p>
        <strong>Delovni čas:</strong><br>
        {{ delovni_cas }}
    </p>

    <p>
        <strong>Pošta:</strong>
        {{ posta }}
    </p>

    <p>
        <strong>Naslov:</strong>
        {{ naslov }}
    </p>

    <p>
        <strong>Telefon:</strong>
        {{ telefon }}
    </p>

    <br><br>

    <a href="/      <button>Odjava</button>
    </a>

</body>

</html>