<!DOCTYPE html>
<html lang="sl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Osebni portal Trgovine Lupek</title>
</head>
<body>

    <h1>Osebni portal Trgovine Lupek</h1>

    <h2>Vnesi svoje podatke za prijavo</h2>

    <form action="/prijava" method="    <label for="uporabnik">
                Uporabniška številka
            </label>
            <br>
            <input
                type="text"
                id="uporabnik"
                name="uporabnik"
                required
            >
        </div>

        <br>

        <div>
            <label for="geslo">
                Geslo
            </label>
            <br>
            <input
                type="password"
                id="geslo"
                name="geslo"
                required
            >
        </div>

        <br>

        <button type="submit">
            Prijava
        </button>

    </form>

</body>
</html>