<!DOCTYPE html>
<html lang="sl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Osebni portal Trgovine Lupke</title>
</head>

<body>

    <h1>
        Dobrodošli v osebnem portalu Trgovine Lupke
    </h1>

    <hr>

    <nav>

        <a href="#">
            Osebni podatki
        </a>

        |

        <a href="#">
            Moja poslovalnica
        </a>

        |

        <a href="#">
            Osebna evidenca
        </a>

        |

        <a href="#">
            Račun
        </a>

        |

        <a href="#">
            Statistika
        </a>

    </nav>

    <hr>

    <h2>
        Izberite želeni zavihek.
    </h2>

    <p>

        Tukaj se bo kasneje prikazovala vsebina
        izbranega zavihka.

    </p>

    <br>
    <br>
    <br>

    /odjava

        <button type="submit">
            Odjava
        </button>

    </form>

</body>

</html>